In [35]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/UC_Dataset_for_code.csv",index_col = ['u_id','d_id','d_v'])

In [36]:
print(df)

                 per   admit   total
u_id d_id d_v
1    1    4.0   0.25  11,857  47,070
          3.7   0.04     676  18,310
          3.3   0.01     116  12,006
          3.0   0.01      29   3,604
          0.0   0.01      14   1,947
...              ...     ...     ...
9    7    0.0   0.22      30     139
     8    15.0  0.70  13,290  19,014
          10.0  0.45   6,285  14,032
          5.0   0.25   2,491  10,071
          0.0   0.16     935   5,730

[333 rows x 3 columns]

In [37]:
df.head(n=20)
#main search term df.loc[1,2,31]['per']

                  per   admit   total
u_id d_id d_v
1    1    4.0    0.25  11,857  47,070
          3.7    0.04     676  18,310
          3.3    0.01     116  12,006
          3.0    0.01      29   3,604
          0.0    0.01      14   1,947
     2    31.0   0.24   4,771  19,759
          26.0   0.12   1,072   8,586
          21.0   0.13     593   4,692
          16.0   0.07     147   2,121
          0.0    0.03      11     332
     3    31.0   0.29   3,512  11,981
          26.0   0.16   2,203  14,186
          21.0   0.11     697   6,270
          16.0   0.06     158   2,525
          0.0    0.03      14     478
     4    700.0  0.25   5,838  23,604
          600.0  0.11   3,124  28,659
          500.0  0.07     798  11,466
          400.0  0.03      75   2,864
          0.0    0.00       1     203

In [39]:
gpa=0
actE=0
actC=0
satW=0
satM=0
satE=0
agc=0
hc=0

n_uni = 9

a = [gpa,actE,actC,satW,satM, satE, agc, hc]
b = np.empty([n_uni, len(a)])
c = np.empty(n_uni)

#iterating through the loop
#extracting percentages of 
#each and every university 
#based on given input

for i in range(0,n_uni):
    uni_res = 0
    for j in range (0,len(a)):
        b[i][j] = df.loc[i+1,j+1,a[j]]['per']
    
        if j == 0 : uni_res = uni_res + (b[i][j]*2) #GPA, weight 2
        elif j == 1: uni_res = uni_res + (b[i][j]*0.5) #actE, weight 0.5
        elif j == 2: uni_res = uni_res + (b[i][j]*0.5) #actC, weight 0.5
        elif j == 3: uni_res = uni_res + (b[i][j]*0.33) #satW, weight 0.33
        elif j == 4: uni_res = uni_res + (b[i][j]*0.33) #satM, weight 0.33
        elif j == 5: uni_res = uni_res + (b[i][j]*0.33) #satE, weight 0.33
        elif j == 6: uni_res = uni_res + (b[i][j]*2) #agc, weight 2
        elif j == 7: uni_res = uni_res + (b[i][j]*2) #hc, weight 2

    c[i] = uni_res*10
    print (c[i])

2.6319999999999997
9.856
7.311999999999999
2.833
18.374
7.826
5.782
5.181
9.608

In [25]:
def main_process(gpa=0, actE=0, actC=0, satW=0, satM=0, satE=0, agc=0, hc=0):
    #
    #rest of algo will come here!!!
    #
    #Just test o/p
    a = ["78%","56%","66%","87%","56%","54%","56%","76%","65%"]
    return a

In [26]:
main_process()

['78%', '56%', '66%', '87%', '56%', '54%', '56%', '76%', '65%']