In [55]:
import pandas as pd
df = pd.read_csv("data/structure_test_data_simple.csv",index_col = ['u_id','d_id','d_v'])

In [56]:
df.head()

                     per
u_id d_id d_v
1    1    4.0  79.622036
          3.7  65.098255
          3.3  37.259128
          3.0  98.062961
          0.0  32.229664

In [57]:
df.loc[1,1,4.0]

per    79.622036
Name: (1, 1, 4.0), dtype: float64