In [1]:
import boto3
import pandas as pd
import numpy as np
df = pd.read_csv("data/UC_Dataset_for_code.csv",index_col = ['u_id','d_id','d_v'])
from sklearn.externals import joblib

/Users/tejchaugule/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
print(df)

                 per   admit   total
u_id d_id d_v
1    1    4.0   0.25  11,857  47,070
          3.7   0.04     676  18,310
          3.3   0.01     116  12,006
          3.0   0.01      29   3,604
          0.0   0.01      14   1,947
...              ...     ...     ...
9    7    0.0   0.22      30     139
     8    15.0  0.70  13,290  19,014
          10.0  0.45   6,285  14,032
          5.0   0.25   2,491  10,071
          0.0   0.16     935   5,730

[333 rows x 3 columns]

In [8]:
df.head(n=20)
#main search term df.loc[1,2,31]['per']

                  per   admit   total
u_id d_id d_v
1    1    4.0    0.25  11,857  47,070
          3.7    0.04     676  18,310
          3.3    0.01     116  12,006
          3.0    0.01      29   3,604
          0.0    0.01      14   1,947
     2    31.0   0.24   4,771  19,759
          26.0   0.12   1,072   8,586
          21.0   0.13     593   4,692
          16.0   0.07     147   2,121
          0.0    0.03      11     332
     3    31.0   0.29   3,512  11,981
          26.0   0.16   2,203  14,186
          21.0   0.11     697   6,270
          16.0   0.06     158   2,525
          0.0    0.03      14     478
     4    700.0  0.25   5,838  23,604
          600.0  0.11   3,124  28,659
          500.0  0.07     798  11,466
          400.0  0.03      75   2,864
          0.0    0.00       1     203

In [9]:
gpa=4
actE=31
actC=31
satW=700
satM=700
satE=20
agc=30
hc=15

gpa=0
actE=0
actC=0
satW=0
satM=0
satE=0
agc=0
hc=0


n_uni = 9

a = [gpa,actE,actC,satW,satM, satE, agc, hc]
b = np.empty([n_uni, len(a)])
c = np.empty(n_uni)

#iterating through the loop
#extracting percentages of 
#each and every university 
#based on given input

for i in range(0,n_uni):
    uni_res = 0
    for j in range (0,len(a)):
        b[i][j] = (df.loc[i+1,j+1,a[j]]['per'])*100
    
        if j == 0 : 
            if a[j] == 4.0:
                uni_res = uni_res + (b[i][j])*12#GPA 4+
            elif a[j] == 3.7:
                uni_res = uni_res + (b[i][j])*11.1#GPA 3.7
            elif a[j] == 3.3:
                uni_res = uni_res + (b[i][j])*9.9#GPA 3.3
            elif a[j] == 3.0:
                uni_res = uni_res + (b[i][j])*9#GPA 3.0
            elif a[j] == 0.0:
                uni_res = uni_res + (b[i][j])*3#GPA 0.0
        elif j == 1:
            if a[j] == 31:
                uni_res = uni_res + (b[i][j])*12 #actE, weight 12
            elif a[j] == 26:
                uni_res = uni_res + (b[i][j])*10 #actE, weight 10
            elif a[j] == 21:
                uni_res = uni_res + (b[i][j])*8 #actE, weight 8
            elif a[j] == 16:
                uni_res = uni_res + (b[i][j])*6 #actE, weight 6
            elif a[j] == 0:
                uni_res = uni_res + (b[i][j])*2 #actE, weight 2
        elif j == 2:
            if a[j] == 31:
                uni_res = uni_res + (b[i][j])*12 #actC, weight 12
            elif a[j] == 26:
                uni_res = uni_res + (b[i][j])*10 #actC, weight 10
            elif a[j] == 21:
                uni_res = uni_res + (b[i][j])*8 #actC, weight 8
            elif a[j] == 16:
                uni_res = uni_res + (b[i][j])*6 #actC, weight 6
            elif a[j] == 0:
                uni_res = uni_res + (b[i][j])*2 #actC, weight 2
        elif j == 3: uni_res = uni_res + (b[i][j])*0.33 #satW, weight 0.33
        elif j == 4: uni_res = uni_res + (b[i][j])*0.33 #satM, weight 0.33
        elif j == 5: uni_res = uni_res + (b[i][j])*0.33 #satE, weight 0.33
        elif j == 6: uni_res = uni_res + (b[i][j])*2 #agc, weight 2
        elif j == 7: uni_res = uni_res + (b[i][j])*2 #hc, weight 2
        #print (f"i={i+1} j={j+1} a[j]={a[j]} b[i][j]= {b[i][j]}")

    c[i] = (uni_res/8)
    print (f"c[{i+1}] = {c[i]}")

c[1] = 3.29
c[2] = 12.32
c[3] = 9.14
c[4] = 3.54125
c[5] = 22.9675
c[6] = 9.7825
c[7] = 7.2275
c[8] = 6.47625
c[9] = 12.01

In [10]:
def main_process(gpa=0, actE=0, actC=0, satW=0, satM=0, satE=0, agc=0, hc=0):
    #
    #rest of algo will come here!!!
    #
    #Just test o/p
    a = ["78%","56%","66%","87%","56%","54%","56%","76%","65%"]
    return a

In [11]:

main_process()

['78%', '56%', '66%', '87%', '56%', '54%', '56%', '76%', '65%']

In [12]:
joblib.dump(main_process(), 'model.pkl')

['model.pkl']